* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Genome", sans-serif;
}

:root{
    --main-color: #ffffff;
    --first-color: #b46a73;
    --second-color: #f4c2c2;
    --third-color: #BC8F8F;
    --fuorth-color:   #db7e94 ;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--first-color);
    padding: 25px;
    align-items: center;
    position: sticky;
    top: 0;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: black;
}

nav a:hover{
    color: var(--main-color);
}

.myprofile {
    display: flex;
    justify-content: center;
}


.myprofile img {
    width: 50%;
}

.myprofile .konten-profile {
    width: 50%;
    padding: 3em 5em;
    background-color: var(--fuorth-color); 
}

.konten-profile .teks{
    background-color: var(--main-color);
    padding: 3em;
    box-shadow: -10px 10px 0 var(--first-color);
}

.konten-profile p {
    margin-bottom: 15px;
}

.konten-profile h1 {
    margin-bottom: 15px;
    color: var(--main-color);
    font-weight: 900;
}

.konten-profile button {
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.konten-profile .buttons {
    display: flex;
    flex-direction: column;
    width: 200px;
}

button:nth-of-type(1) {
    background-color: black;
    color: var(--main-color);
}

button:nth-of-type(1):hover {
    color: blue;

}

button:nth-of-type(2) {
    color: blue;
}

button:nth-of-type(2):hover {
    color: black;
}

main{
     background-color: var(--second-color);

}

.content {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    box-sizing: border-box;
    line-height: 20px;
}

.left-content {
    padding-left: 25em;
    padding-bottom: 8em;
    padding-top: 4em;
    padding-right: 4em;
}

.right-content {
    padding-top: 4em;
    padding-right: 20em;
    padding-bottom: 8em;
    padding-left: 4em;

}

.content h3 {
    margin-bottom: 20px;
}

.right-content ul:nth-of-type(1) {
    margin-bottom: 20px;
}

main h2{
    padding-left: 12em;
    padding-top: 4em;
    text-transform: uppercase;
    font-size: 2em;

}

footer{
    display: flex;
    flex: 1;
    padding: 40px;
    gap: 40px;
    flex-wrap: wrap;
    background-color: var(--second-color);

}

.footer-atas {
    flex: 1;
    padding: 10px;
    font-size: 2em;
    line-height: 1.6em;
    font-weight: bold;

}

.form {
    flex: 1;
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

 form {
   display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;

}

input, textarea {
  margin-bottom: 12px;
  padding: 12px;
  background-color: var(--third-color);
  border: 2px solid #888;
  color: white;
  font-size: 1rem;
  border-radius: 4px;
}

textarea {
  resize: vertical;
}

.form button {
  background-color: var(--third-color);
  color: #888;
  border: 2px solid #888;
  padding: 12px;
  width: 120px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 4px;
  margin-left: 380px;
}

button:hover {
  background-color: #ddd;
}

.bawah {
    background-color: var(--first-color);
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 1.1rem;
}

@media (max-width: 768px) {
    header {
        display: block;
        text-align: center;
        margin: 0;
    }

     header h3 {
        margin-bottom: 10px;
     }

    nav {
        display: flex;
        /* flex-direction: column; */
        align-items: center;
        justify-content: center;
    }

    .myprofile {
        flex-direction: column;
    }

    .myprofile img {
        width: 100%;
    }

    .myprofile .konten-profile {
        width: 100%;
        box-sizing: border-box;
    }

    .konten-profile h1 {
        text-align: center;
        padding: 10px;
    }

    .konten-profile .teks {
        width: 100%;
        box-sizing: border-box;
    }

    main {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
    }

    main h2 {
        padding: 30px 0;
        text-align: center;

     }

    .content {
        grid-template-columns: 100%;
        box-sizing: border-box;
        padding: 20px;
    }

    .content .left-content {
        box-sizing: border-box;
        padding: 20px;
    }

    .content .right-content {
        box-sizing: border-box;
        padding: 20px;
    }

    .footer-atas {
       flex-direction: column;
        text-align: center;

      }



}