* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Genome", sans-serif;
}

:root{
    --main-color: #ffffff;
    --first-color: #b46a73;
    --second-color: #f4c2c2;
    --third-color: #BC8F8F;
    --fuorth-color:   #db7e94 ;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--first-color);
    padding: 25px;
    align-items: center;
    position: sticky;
    top: 0;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: black;
}

nav a:hover{
    color: var(--main-color);
}

.myprofile {
    display: flex;
    justify-content: center;
}


.myprofile img {
    width: 50%;
}

.myprofile .konten-profile {
    width: 50%;
    padding: 3em 5em;
    background-color: var(--fuorth-color); 
}

.konten-profile .teks{
    background-color: var(--main-color);
    padding: 3em;
    box-shadow: -10px 10px 0 var(--first-color);
}

.konten-profile p {
    margin-bottom: 15px;
}

.konten-profile h1 {
    margin-bottom: 15px;
    color: var(--main-color);
    font-weight: 900;
}

.konten-profile button {
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.konten-profile .buttons {
    display: flex;
    flex-direction: column;
    width: 200px;
}

button:nth-of-type(1) {
    background-color: black;
    color: var(--main-color);
    border: 1px solid black;
}

button:nth-of-type(1):hover {
    color: blue;

}

button:nth-of-type(2) {
    color: blue;
    border: 1px solid blue;
}

button:nth-of-type(2):hover {
    color: black;
}

main{
     background-color: var(--second-color);

}

.content {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    box-sizing: border-box;
    line-height: 20px;
}


.left-content {
    padding-left: 25em;
    padding-bottom: 8em;
    padding-top: 4em;
    padding-right: 4em;
}

.right-content {
    padding-top: 4em;
    padding-right: 20em;
    padding-bottom: 8em;
    padding-left: 4em;

}

.content h3 {
    margin-bottom: 20px;
}

.right-content ul:nth-of-type(1) {
    margin-bottom: 20px;
}

main h2{
    padding-left: 12em;
    padding-top: 4em;
    text-transform: uppercase;
    font-size: 2em;

}

footer{
    display: flex;
    flex: 1;
    padding: 40px;
    gap: 35px;
    flex-wrap: wrap;
    background-color: var(--second-color);

}

.footer-atas {
    flex: 1;
    padding: 10px;
    font-size: 2em;
    line-height: 1.4em;
    font-weight: bold;
    margin-left: 70px;
}

.form {
    flex: 1;
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

 form {
   display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;

}

input, textarea {
  margin-bottom: 12px;
  padding: 12px;
  background-color: var(--third-color);
  border: 2px solid #888;
  color: white;
  font-size: 1rem;
  border-radius: 4px;
}

textarea {
  resize: vertical;
}

.form button {
  background-color: var(--third-color);
  color: #888;
  border: 2px solid #888;
  padding: 12px;
  width: 120px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 4px;
  margin-left: 380px;
}

button:hover {
  background-color: #ddd;
}

.bawah {
    background-color: var(--first-color);
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 1.1rem;
} 
/*akhir index1*/

.isian {
    display: flex;
    align-self: center;
    padding-bottom: 30px;
}

.first {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    padding: 40px;
    
    width: 17%;
    background-color: var(--fuorth-color);
    color: white;
}

.first h2{
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.first p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.first h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;

}

.first ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.first li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.second {
    margin-left: 100px;
}

.teratas {
    margin-bottom: 14px;
}

.teratas h1 {
    font-size: 100px;
    color: var(--fuorth-color);
}

.teratas h2 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.teratas p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.experience-entry {
    display: flex;
    gap: 40px;
    width: 900px;
    margin: auto;
}

.left-column {
    flex: 1;
    color: var(--first-color);
}

.left-column .industry {
    font-style: italic;
    color: var(--fuorth-color);
}

.left-column .date {
    margin-top: 10px;
    color: black;
}

.right-column {
    flex: 2;
}   

.position {
    font-weight: bold;
    margin-bottom: 5px;
}

.highlight{
    color: var(--third-color);
    font-style: italic;
    font-weight: 500;
}

.italic {
    font-style: italic;
    color: var(--second-color);
}

.blue {
    color: var(--second-color);
    font-style: italic;
}
/*terakhir index2*/

.lead {
    padding: 40px;
}

.lead-one {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EAD7D1;
    color: rgb(0, 0, 0);
    padding: 40px;
    box-shadow: -10px 10px 0px var(--third-color);
    max-width: 900px;
    margin: auto;
    margin-top: 40px;
}

.one-karina {
    margin-top: 350px;
}

.one-karina h3 {
    font-weight: bold;
    margin-top: 20px;
}

.one-karina p {
    font-size: 18px;
    margin-top: 10px;
}

.lead-one img{
    width: 50%;
    height: auto;
}

.lead-two {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #C6BDB3;
    color: rgb(0, 0, 0);
    padding: 40px;
    box-shadow: -10px 10px 0px #B5B5B5  ;
    max-width: 900px;
    margin: auto;
    margin-top: 40px;
}

.two-giselle {
    margin-top: 350px;
}

.two-giselle h3 {
    font-weight: bold;
    margin-top: 20px;
}

.lead-two img{
    width: 50%;
    height: auto;
}

.lead-three {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E3C7C0;
    color: rgb(0, 0, 0);
    padding: 40px;
    box-shadow: -10px 10px 0px #F4E9DA;
    max-width: 900px;
    margin: auto;
    margin-top: 40px;
}

.three-winter {
    margin-top: 350px;
}

.three-winter h3 {
    font-weight: bold;
    margin-top: 20px;
}

.lead-three img {
    width: 50%;
    height: auto;
}

.lead-four {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ECDDD2;
    color: rgb(0, 0, 0);
    padding: 40px;
    box-shadow: -10px 10px 0px var(--second-color);
    max-width: 900px;
    margin: auto;
    margin-top: 40px;
}

.four-ningning {
    margin-top: 350px;
}

.four-ningning h3 {
    font-weight: bold;
    margin-top: 20px;
}

.lead-four img {
    width: 50%;
    height: auto;
}

.lead-five {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F7D6E0;
    color: rgb(0, 0, 0);
    padding: 40px;
    box-shadow: -10px 10px 0px #E3C7C0;
    max-width: 900px;
    margin: auto;
    margin-top: 40px;
}

.five-mem {
    margin-top: 350px;
}

.five-mem h3 {
    font-weight: bold;
    margin-top: 20px;
}

.lead-five img {
    width: 60%;
    height: auto;
}
/*akhir index3*/

.entertain {
    display: grid;
    grid-template-columns: repeat(4, 270px);
    grid-template-rows: auto;
    gap: 20px;
    justify-content: center;
    margin: 0;
    padding: 40px;
    font-family: Arial, sans-serif;
    margin-top: 70px;
}

.super {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: -5px 5px 0px #b5afaf;
}

.super img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.nova {
    padding: 16px;
}

.nova h3 {
    font-size: 16px;
    margin: 0;
    color: rgb(0, 0, 0);
}
/* akhir index4*/

.text-one {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 90px;
    background-color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.one {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1000px;
    width: 100%;
    margin-top: 40px;
}

.one h1 {
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 4px;
}

.one-text {
    flex: 1 1 45%;
    margin: 20px 0;
}

.one-text h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
}

.one-text ul {
    padding-left: 20px;
}

.one text li {
    margin-bottom: 20px;
    list-style-type: disc;
}

.one-text a {
    color: #1a0dab;
    text-decoration: underline;
}

.text-two {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 90px;
    background-color: var(--main-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.two {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1000px;
    width: 100%;
    margin-top: 40px;
}

.two-text {
    flex: 1 1 45%;
    margin: 20px 0;
}

.two-text h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
}

.two-text ul {
    padding-left: 20px;
}

.two-text li {
     margin-bottom: 20px;
    list-style-type: disc;
}

.two-text a {
    color: #1a0dab;
    text-decoration: underline;
}

.two h1 {
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 4px;
}
@media (max-width: 768px) {
    header {
        display: block;
        text-align: center;
        margin: 0;
    }

     header h3 {
        margin-bottom: 10px;
     }

    nav {
        display: flex;
        /* flex-direction: column; */
        align-items: center;
        justify-content: center;
    }

    .myprofile {
        flex-direction: column;
    }

    .myprofile img {
        width: 100%;
    }

    .myprofile .konten-profile {
        width: 100%;
        box-sizing: border-box;
    }

    .konten-profile h1 {
        text-align: center;
        padding: 10px;
    }

    .konten-profile .teks {
        width: 100%;
        box-sizing: border-box;
    }

    main {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
    }

    main h2 {
        padding: 30px 0;
        text-align: center;

     }

    .content {
        grid-template-columns: 100%;
        box-sizing: border-box;
        padding: 20px;
    }

    .content .left-content {
        box-sizing: border-box;
        padding: 20px;
    }

    .content .right-content {
        box-sizing: border-box;
        padding: 20px;
    }

    .footer-atas {
       flex-direction: column;
        text-align: center;

      }



}